*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
}

input,
textarea,
select {
    font: inherit;
}

/* button {
    width: 50px; /* Set a default size, adjust with --button-size */
    height: 50px;
    padding: 0; /* Remove padding */
    background: black; /* Make it transparent */
    border: black; /* Remove border */
    cursor: pointer; /* Indicate interactivity */
    /* Add subtle outline on hover for better visibility */
    outline: black;
    transition: transform 0.2s ease-in-out; 
} */

.pixel-grid {
  /* Set the container to display as a grid */
  display: grid;

  /* Define 8 columns of equal width */
  grid-template-columns: 8;

  /* Define 8 rows of equal height */
  grid-template-rows: 8;

  /* row-gap: 0;

  column-gap: 0; */
}

.pixel {
    /* Make it square */
    aspect-ratio: 1 / 1;
    width: 12.5%; /* Set a default size, adjust with --button-size */
    padding: 0; /* Remove padding */
    background: transparent; /* Make it transparent */
    border: solid; /* Remove border */
    cursor: pointer; /* Indicate interactivity */
    /* Add subtle outline on hover for better visibility */
    outline: black;
    transition: transform 0.2s ease-in-out; /* Smooth transform on hover */
  }

  .palette-display{
    display: flex;
    /* width: ; */
  }

  .palette-selection{
    aspect-ratio: 1 / 1;
    width: 8%
  }